In [1]:
import kagglehub

path = kagglehub.dataset_download("whenamancodes/violence-against-women-girls")

print("Path to dataset files:", path)

C:\Users\40723\anaconda3\envs\AMDAResearchReport1\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/whenamancodes/violence-against-women-girls?dataset_version_number=1...

100%|██████████████████████████████████████████████████████████████████████████████| 88.3k/88.3k [00:00<00:00, 507kB/s]

Extracting files...
Path to dataset files: C:\Users\40723\.cache\kagglehub\datasets\whenamancodes\violence-against-women-girls\versions\1

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [7]:
file_path="Violence Against Women  Girls Data.csv"
df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

           RecordID         Value
count  12600.000000  11187.000000
mean     210.500000     19.762537
std      121.248024     16.986437
min        1.000000      0.000000
25%      105.750000      6.200000
50%      210.500000     14.900000
75%      315.250000     29.200000
max      420.000000     86.900000

In [6]:
df.head()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8